<!-- Vue principale qui sera réutilisée dans toutes les vues (ici se trouve header et footer) -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- Titre du site -->
        <title>{% block title %}Nos amis les oiseaux{% endblock %}</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Fichier css utilisant Assetic -->
        {% stylesheets 'bundles/portailweb/css/styles.css' filter='cssrewrite, scssphp' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {# GoogleMap #}
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpD7SDy5LbkMqKuzivkkoxp7woeUshYiE" 
        type="text/javascript"></script>
    </head>
    <body>

        <div class="topBar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-offset-2 col-xs-7">
                        <p class="textBar">Application ornithologique de l'association NAO</p>
                    </div>
                    <div class="col-sm-3 col-xs-5">
                        <a href="https://www.facebook.com/" target="_blank" class="btn-social btn-facebook topBtn">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://plus.google.com/?hl=fr" target="_blank" class="btn-social btn-google-plus topBtn">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="https://twitter.com/?lang=fr" target="_blank" class="btn-social btn-twitter topBtn">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                </div>                
            </div>
        </div>

        {# Header #}
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brsand" href="{{ path('portail_web_homepage') }}">
                        <img src="{{ asset('images/logo.png') }}" alt="Logo NAO" class="logo">
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('portail_web_homepage') }}">ACCUEIL</a></li>
                        <li><a href="{{ path('portail_web_recherche') }}"><strong>RECHERCHE</strong></a></li>
                        <li><a href="{{ path('portail_web_observationStep1') }}"><strong>OBSERVATIONS</strong></a></li>
                        <li><a href="{{ path('portail_web_homepage') }}#partFonctionnement">COMMENT ÇA MARCHE</a></li>
                        <li><a href="{{ path('portail_web_homepage') }}#partPropos">À PROPOS</a></li>
                        <li><a href="{{ path('portail_web_homepage') }}#partContact">CONTACT</a></li>
                        <li><a id="monCompte" href="{{ path('portail_user_profile_show') }}">MON COMPTE</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        {# Contenu #}
        {% block body %}
        {% endblock %}

        {# Footer #}
        <footer class="text-center" style="padding-top: 60px">
            <img src="{{ asset('images/logo-fond-foncé.jpg') }}" alt="Logo NAO dark" class="logo" id="imgFooter">
            <div class="container">
                <ul class="list-inline" id="listFooter">
                    <li><a href="{{ path('portail_web_homepage') }}">ACCUEIL</a></li>
                    <li><a href="{{ path('portail_web_recherche') }}">RECHERCHE</a></li>
                    <li><a href="{{ path('portail_web_observationStep1') }}">OBSERVATIONS</a></li>
                    <li><a href="{{ path('portail_web_homepage') }}#partFonctionnement">COMMENT ÇA MARCHE</a></li>
                    <li><a href="{{ path('portail_web_homepage') }}#partPropos">À PROPOS</a></li>
                    <li><a href="{{ path('portail_web_homepage') }}#partContact">CONTACT</a></li>
                </ul>
                <hr>
            </div>
            {# Boutons réseaux sociaux #}
            <div class="text-center">
                <a href="https://www.facebook.com/" target="_blank" class="btn-social btn-facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="https://plus.google.com/?hl=fr" target="_blank" class="btn-social btn-google-plus">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="https://twitter.com/?lang=fr" target="_blank" class="btn-social btn-twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </footer>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </body>
</html>