{# Hérite de la vue parente situé app/Resources/views/base.html.twig #}
{% extends "::base.html.twig" %}

{% block body %}
<div style="background-image: url({{ asset('images/banniere-provisoire.jpg') }});" class="banniereOiseau"></div>

<div class="container" id="divCompteAccueil">
    <h1 class="divh1">
        MON COMPTE
    </h1>
    <hr>

    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-danger text-center">
            <p>{{ message }}</p>
        </div>
    {% endfor %}

    <div class="row" style="margin-bottom: 20px">
        {% include 'PortailUserBundle:Profile:menuCompte.html.twig' %}
        <div class="col-md-9" id="infoInput">
            <h2 id="h2Compte">Changement de mot de passe</h2><hr>
            {% trans_default_domain 'FOSUserBundle' %}

            {{ form_start(form, { 'action': path('portail_user_change_password'), 'attr': { 'class': 'portail_user_change_password' } }) }}
                {{ form_widget(form) }}

            <div>
                <input type="submit" value="Changer le mot de passe" class="col-sm-6 btn btn-success btn-lg linkCo" style="margin-left: 25%; margin-bottom: 10px"/>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>


{% endblock %}
