{# Hérite de la vue parente situé app/Resources/views/base.html.twig #}
{% extends "::base.html.twig" %}


{% block body %}
    {# Image background perroquet #}
    <div id="partPerroquet" style="background-image: url({{ asset('images/background.jpg') }});" class="backgroundImage">
        {# Encart connexion/créer un compte #}
        <div class="text-center" id="boiteConnexion">
            <h1 id="h1Connexion">
                Bienvenue
            </h1> <br>
            {#Vérification si session membre ouverte ou non #}
            {# Si session ouverte : affiche connecté en tant que .....Nom Prénom.... #}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                Connecté en tant que {{ app.user.username }}
                -
                <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>

            {% else %}
                {#Si session non ouverte ,  affiche le panneau création compte ou connexion#}

                {% block fos_user_content %}
                    {% trans_default_domain 'FOSUserBundle' %}

                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}

                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <br>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                        <br>
                        <br>
                        <label for="password">{{ 'security.login.password'|trans }}</label>
                        <br>
                        <input type="password" id="password" name="_password" required="required" />
                        <br>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                        <br>
                        <input class="center-block btn btn-success" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                    </form>

                {% endblock fos_user_content %}
            {% endif %}

        </div>
    </div>
    </div>

<script>
    $(function() {
        //Permet de déplacer l'écran sur la partie contact
        if($("#partContactExist").length) {
            location.hash = "#partContact";
        }

    });
</script>
{% endblock %}