{# Hérite de la vue parente situé app/Resources/views/base.html.twig #}
{% extends "::base.html.twig" %}


{% block body %}
    {# Image background perroquet #}
    <div style="background-image: url({{ asset('images/background.jpg') }});" class="backgroundImage">
        {# Encart connexion/créer un compte #}
        <div class="text-center" id="boiteConnexion">
            <h1 id="h1Connexion">
                Connexion
            </h1>
            {#Vérification si session membre ouverte ou non #}
            {# Si session ouverte : affiche connecté en tant que .....Nom Prénom.... #}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                Connecté en tant que <span style="color: #81BD5B; font-size: 20px;">{{ app.user.username }}</span>
                -
                <a href="{{ path('fos_user_security_logout') }}" id="btnDeconnexion">Déconnexion</a>

            {% else %}
                {#Si session non ouverte ,  affiche le panneau création compte ou connexion#}
                <p><a href="{{ path('portail_user_inscription') }}" style="color: #81BD5B !important">
                    ou créez un compte</a></p>

                {% block fos_user_content %}
                    {% trans_default_domain 'FOSUserBundle' %}

                    {% if error %}
                        <p style="color: #d9534f">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                    {% endif %}

                    <form action="{{ path("fos_user_security_check") }}" method="post" id="formConnexion">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="username">{{ 'security.login.username'|trans }}</label><br>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <label for="password">{{ 'security.login.password'|trans }}</label><br>
                                <input type="password" id="password" name="_password" required="required" / style="margin-bottom: 20px"> <br>

                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label> <br>   
                                <a href="{{ path('portail_user_resetting_request') }}">Mot de passe oublié?</a> 
                            </div>
                        </div>

                        
                        <input class="center-block btn btn-success btn-lg" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                    </form>

                {% endblock fos_user_content %}
            {% endif %}
        </div>
    </div>
{% endblock %}