{# Hérite de la vue parente situé app/Resources/views/base.html.twig #}
{% extends "::base.html.twig" %}

{# Vue accueil (sans header ni footer) #}
{% block body %}
    {# Banniere Image #}
    <div style="background-image: url({{ asset('images/banniere-provisoire.jpg') }});" class="banniereOiseau">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="text-center" style="color: #81BD5B;">CRÉER UN COMPTE</h1>
                <p class="text-center">
                    La création d'un compte vous permettra de saisir vos observations <br>
                    Dans votre espace personnel vous avez accès à l'historique de vos observations
                </p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-1 col-md-4" id="formAccount">
                {% trans_default_domain 'FOSUserBundle' %}

                {{ form_start(form, {'method': 'post', 'action': path('portail_user_inscription'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'registration.submit'|trans }}" />
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col-md-6">
                <h3>Conditions d'utilisation de l'application</h3>
                <hr>

                <div class="row">
                    <div class="col-xs-1">
                        <img src="{{ asset('images/Icon-green.png') }}">
                    </div>
                    <div class="col-xs-11">
                        <p class="paragraphes">
                            L’inscription se fait en complétant un formulaire en ligne. Une fois le formulaire rempli et validé, le Site adresse un email permettant de confirmer la demande de l’Internaute. Lors de l’inscription, l’Utilisateur s’engage à fournir des données exactes, et est tenu de remplir l’ensemble des champs obligatoires figurant dans le formulaire d’inscription.
                        </p>
                    </div>
                </div>
                <p class="paragraphes">
                <div class="row">
                    <div class="col-xs-1">
                        <img src="{{ asset('images/Icon-green.png') }}">
                    </div>
                    <div class="col-xs-11">
                        <p class="paragraphes">
                          Dès création de son compte, l’utilisateur choisira un nom d'utilisateur et un mot de passe lui permettant d’accéder à la saisie d'observations et à son espace personnel.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img src="{{ asset('images/Icon-green.png') }}">
                    </div>
                    <div class="col-xs-11">
                        <p class="paragraphes">
                            Seule une fraction réduite des informations personnelles relatives à chaque auteur apparaît dans la partie publique du site pour les Validateurs : le nom  et prénom de l'utilisateur sont associés à chaque observations . Les informations personnelles  ne sont visibles que par la personne inscrite elle-même, dans son espace personnel, et par l'administrateur de NAO. Elles sont modifiables à tout moment par le membre via son espace personnel.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img src="{{ asset('images/Icon-green.png') }}">
                    </div>
                    <div class="col-xs-11">
                        <p class="paragraphes">
                            En acceptant les présentes conditions d’utilisation, vous vous engagez à respecter le droit d’auteur concernant tout contenu (image, texte…) que vous publiez sur le site. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12"><br><br><br></div>
        </div>
    </div>

<script>
    $(function() {
        $('.fos_user_registration_register input[type="submit"]').parent().addClass('text-center');
        $('.fos_user_registration_register input[type="submit"]').css('padding', '15').css("fontSize", "20px").css("marginTop", "15px").css("borderRadius", "5px");
    });
</script>
{% endblock %}

