{# Hérite de la vue parente situé app/Resources/views/base.html.twig #}
{% extends "::base.html.twig" %}

{# Vue accueil (sans header ni footer) #}
{% block body %}
    {# Banniere Image #}
    <div style="background-image: url({{ asset('images/banniere-provisoire.jpg') }});" class="banniereOiseau">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="text-center" style="color: #81BD5B;">CRÉER UN COMPTE</h1>
                <p class="text-center">
                    La création d'un compte vous permettra de saisir vos observations <br>
                    Dans votre espace personnel vous avez accès à l'historique de vos observations
                </p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-1 col-md-4" id="formAccount">
                {% block fos_user_content %}
                    {{ render(controller("FOSUserBundle:Registration:register")) }}
                {% endblock fos_user_content %}
            </div>
            <div class="col-md-6">
                <h3>Conditions d'utilisation de l'application</h3>
                <hr>

                <div class="row">
                    <div class="col-xs-1">
                        <img src="{{ asset('images/Icon-green.png') }}">
                    </div>
                    <div class="col-xs-11">
                        <p class="paragraphes">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus eveniet nobis aliquam quam odio quisquam cupiditate dicta recusandae ratione saepe impedit, maxime, earum omnis quia sint. Excepturi aliquid, necessitatibus dolore.
                        </p>
                    </div>
                </div>
                <p class="paragraphes">
                <div class="row">
                    <div class="col-xs-1">
                        <img src="{{ asset('images/Icon-green.png') }}">
                    </div>
                    <div class="col-xs-11">
                        <p class="paragraphes">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus eveniet nobis aliquam quam odio quisquam cupiditate dicta recusandae ratione saepe impedit, maxime, earum omnis quia sint. Excepturi aliquid, necessitatibus dolore.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img src="{{ asset('images/Icon-green.png') }}">
                    </div>
                    <div class="col-xs-11">
                        <p class="paragraphes">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus eveniet nobis aliquam quam odio quisquam cupiditate dicta recusandae ratione saepe impedit, maxime, earum omnis quia sint. Excepturi aliquid, necessitatibus dolore.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <img src="{{ asset('images/Icon-green.png') }}">
                    </div>
                    <div class="col-xs-11">
                        <p class="paragraphes">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus eveniet nobis aliquam quam odio quisquam cupiditate dicta recusandae ratione saepe impedit, maxime, earum omnis quia sint. Excepturi aliquid, necessitatibus dolore.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12"><br><br><br></div>
        </div>
    </div>

<script>
    $(function() {
        $('.fos_user_registration_register input[type="submit"]').parent().addClass('text-center');
        $('.fos_user_registration_register input[type="submit"]').css('padding', '15').css("fontSize", "20px").css("marginTop", "15px").css("borderRadius", "5px");
    });
</script>
{% endblock %}
