{# Hérite de la vue parente situé app/Resources/views/base.html.twig #}
{% extends "::base.html.twig" %}


{% block body %}
	<style>
		input, select {
			margin-bottom: 20px;
		}
	</style>
    {# Banniere Image #}
    <div style="background-image: url({{ asset('images/banniere-provisoire.jpg') }});" class="banniereOiseau">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="text-center" style="color: #81BD5B;">MODIFIER LE COMPTE</h1>
                <p class="text-center">Vous pouvez à tout moment modifier vos informations personnelles.</p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12" id="formAccount">
				{% trans_default_domain 'FOSUserBundle' %}

				{{ form_start(form, { 'action': path('portail_user_profile_edit'), 'attr': { 'class': 'portail_user_profile_edit' } }) }}

    			{{ form_widget(form) }}

				<div class="text-center">
					    <input type="submit" value="{{ 'profile.edit.submit'|trans }}" / class="btn text-center btn-success btn-lg">

				</div>

				{{ form_end(form) }}
            </div>
        </div>
    </div>

<script>
    $('#fos_user_profile_form_conditionUtilisation').parent().css('display', 'none');
</script>

{% endblock %}
