<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked" id="ulCompte">
        <li class="listCompte">
            <p class="text-center">
                <i class="fa fa-user-circle fa-5x" style="margin-bottom: 20px"></i> <br>       
                {{ app.user.name }} {{ app.user.surname }}
            </p>
        </li>
        <li class="listCompte">
            <a href="{{ path('portail_user_profile_show') }}">
                <p class="text-center">
                    <i class="fa fa-eye iconCompte"></i>MES INFOS
                </p>                            
            </a>
        </li>
        <li class="listCompte">
            <a href="{{ path('portail_user_profile_observations') }}">                        
                <p class="text-center">
                    <i class="fa fa-cog iconCompte"></i>MES OBSERVATIONS
                </p>
            </a>
        </li>
        {# La validation ne peut se faire que pour les validateurs #}
        {% if is_granted('ROLE_MODERATEUR') %}
        <li class="listCompte">
            <a href="{{ path('portail_user_profile_validations') }}"> 
                <p class="text-center">
                    <i class="fa fa-clock-o iconCompte"></i>À VALIDER
                </p>
            </a>
        </li>
        {% endif %}
        <li class="listCompte">
            <a href="{{ path('fos_user_security_logout') }}">
                <p class="text-center">
                    <i class="fa fa-power-off iconCompte"></i>DÉCONNEXION
                </p>                
            </a>
        </li>
    </ul>                   
</div>