{# Hérite de la vue parente situé app/Resources/views/base.html.twig #}
{% extends "::base.html.twig" %}

{% block body %}
	
    <div style="background-image: url({{ asset('images/banniere-provisoire.jpg') }});" class="banniereOiseau"></div>

    <div class="container" id="divCompteAccueil">
        <h1 class="divh1">
            MON COMPTE
        </h1>
        <hr>

        <div class="row" style="margin-bottom: 20px">
            {% include 'PortailUserBundle:Profile:menuCompte.html.twig' %}
                    
            <div class="col-md-9" id="infoInput">
                <h2 id="h2Compte">Observations à valider</h2><hr>
					
				<div class="alert alert-info">
					<p>
						Ces observations ont été soumis par des particuliers et attendent votre validation.
					</p>
				</div>

                <div class="row" id="row">
                    <div class="col-xs-12">
                        <table class="tg">
                        <tr> 
                            <th class="tg-nrw8 text-center">Nom</th>
                            <th class="tg-ecrz text-center">Photo</th>
                            <th class="tg-ecrz text-center">Date et heure</th>
                            <th class="tg-ecrz text-center">Lieu</th>
                            <th class="tg-ecrz text-center">État</th>
                        </tr>
                        {% for observation in observationsEnAttente %}
                            <tr>
                                <td class="tg-yw4l">
                                    <p class="text-center">{{nomOiseaux[loop.index - 1].nomFr}}</p>
                                </td>

                                <td class="tg-yw4l">
                                    {% if observation.photo is null %}
                                    <p class="text-center">
                                        <img id="photo{{loop.index}}" src="{{ asset('images/no-image.png') }}" class="photoCompte"> 
                                    </p>
                                    {% else %} 
                                    <p class="text-center">
                                        <img id="photo{{loop.index}}" src="{{ asset('uploads/photos/' ~ observation.photo) }}" class="photoCompte">
                                    </p> 
                                    {% endif %}
                                </td>

                                
                                <td class="tg-yw4l">
                                    <p class="paragraphes text-center">
                                        {{observation.dateObservation|date('d-m-Y')}} <br>
                                        à {{observation.heureObservation|date('H:i')}}
                                    </p>
                                </td>

                                <td class="tg-yw4l">
                                    <p class="paragraphes text-center">
                                        Latitude : {{observation.latitude}} <br>
                                        Longitude : {{observation.longitude}}
                                    </p>
                                </td> 

                                <td class="tg-yw4l">
                                    <p class="text-center">
                                    	{# Si le validateur clique sur le bouton Validé on envoi l'id de l'observation ainsi que "valide" à true pour dire au contrôleur que l'on veut valider cette observation #}
      									<a href="{{ path('portail_user_profile_validations', {'id': observation.id, 'valide' : true}) }}" style="margin-right: 20px">
                                        	<i class="fa fa-check fa-2x"></i>
                                        </a>
      									<a href="{{ path('portail_user_profile_validations', {'id': observation.id, valide : observation.id, 'rejet' : true}) }}" class="aWrong">
                                        	<i class="fa fa-times fa-2x"></i>
                                        </a>
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                        </table>                    
                    </div>
                </div> 
            </div>

        </div> 

        <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <img src="" id="imagepreview" style="width: 100%; height: 100%;" >
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div> 

    </div>

<script>
    nbObservations = "{{observationsEnAttente|length}}";
    document.addEventListener('click', function(e) {
        for (var i = 1; i <= nbObservations; i++) {
            if (e.target.id == 'photo' + i) {
                document.getElementById('imagepreview').setAttribute('src', document.getElementById('photo' + i).getAttribute('src'));
                $('#imagemodal').modal('show');
            }
        }
    });
</script>
{% endblock %}