{# Hérite de la vue parente situé app/Resources/views/base.html.twig #}
{% extends "::base.html.twig" %}

{% block body %}
{# Partie Recherche Oiseau #}
<div id="rechercheOiseau" style="background-color: rgba(72,81,86, 0.1); padding-bottom: 15px">
	<div class="container">
		<h2 class="text-center">RECHERCHER UNE ESPÈCE D'OISEAU</h2>
		<hr>

		{# Formulaire de recherche #}
		<form method="post">
	    	{{ form_errors(form) }}

			<div class="row" id="rowRecherche">
				<div class="col-md-10">
					{{ form_row(form.nomFr) }}
					<div id="match"></div>
				</div>
				<div class="col-md-2">
	        		<input type="submit" value="Voir sur la carte" class="btn btn-success btn-lg" id="btnRecherche" />
		    	</div>
		    </div>
	        {{ form_rest(form) }}
    	</form>

		{# Intégration googlemap ici #}
		<div class="row">
			<div id="map" class="col-xs-12 mapRecherche"></div>					
		</div>
	</div>
</div>

{% block javascripts %}
	{% javascripts '@PortailWebBundle/Resources/public/js/autocomplete.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>

		<script>
			var ROOT_URL = "{{ url('portail_web_ajax_autocomplete_recherche')}}";

			var myOptions = {
			    zoom: 14, //Plus le zoom est élevé plus la carte est rapproché
			    //Position par défaut de la carte : celle de l'utilisateur
			    center: new google.maps.LatLng(48.89118367456307, 2.353992462158203),
			    disableDefaultUI: true,
			    scaleControl: true, //Affiche les informations sur l'échelle de distance 
			    zoomControl: true, //Autorise le zoom avec la molette
			    zoomControlOptions: {
			      style: google.maps.ZoomControlStyle.HYBRID
			    },
			    mapTypeId: 'hybrid',
			    draggableCursor:'crosshair', //Remplace la main par une croix pour mieux cibler
			    draggingCursor: 'move'
			}

			//Crée la carte google map et appelle la fonction myOptions pour définir les valeurs par défaut au démarrage
			var map = new google.maps.Map(document.getElementById("map"),myOptions);
		</script>
	{% endjavascripts %}
{% endblock %}

{% endblock %}
