{# Hérite de la vue parente situé app/Resources/views/base.html.twig #}
{% extends "::base.html.twig" %}

{% block body %}
{# Partie Saisie Oiseau #}
<div id="saisieOiseau" class="part">
	<div class="container">
		<h2 class="text-center">SAISIR UNE OBSERVATION D'OISEAU</h2>
		<hr>	
		{% if oiseauChoisi is defined %}
			{{dump(oiseauChoisi[0].nomFr)}}
		{% endif %}
		{# Le formulaire sera soumis au contrôleur saisieOiseauAction #}
		<form method="post">
	    	{{ form_errors(form) }}

			<div class="row" id="rowRecherche">
				<div class="col-xs-12">
					{{ form_row(form.nomFr) }}
					<div id="match"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
	        		<input type="submit" value="Choisir cet oiseau" class="btn btn-success btn-lg" id="btnRecherche">
		    	</div>				
			</div>

	        {{ form_rest(form) }}
    	</form>
	</div>
</div>

{% block javascripts %}
	{% javascripts '@PortailWebBundle/Resources/public/js/autocomplete.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>

		<script>
			var ROOT_URL = "{{ url('portail_web_ajax_autocomplete_recherche')}}";

			var myOptions = {
			    zoom: 14, //Plus le zoom est élevé plus la carte est rapproché
			    //Position par défaut de la carte : celle de l'utilisateur
			    center: new google.maps.LatLng(48.89118367456307, 2.353992462158203),
			    disableDefaultUI: true,
			    scaleControl: true, //Affiche les informations sur l'échelle de distance 
			    zoomControl: true, //Autorise le zoom avec la molette
			    zoomControlOptions: {
			      style: google.maps.ZoomControlStyle.HYBRID
			    },
			    mapTypeId: 'hybrid',
			    draggableCursor:'crosshair', //Remplace la main par une croix pour mieux cibler
			    draggingCursor: 'move'
			}

			//Crée la carte google map et appelle la fonction myOptions pour définir les valeurs par défaut au démarrage
			var map = new google.maps.Map(document.getElementById("map"),myOptions);
		</script>
	{% endjavascripts %}
{% endblock %}

{% endblock %}