{# Hérite de la vue parente situé app/Resources/views/base.html.twig #}
{% extends "::base.html.twig" %}

{% block body %}
{# Partie Recherche Oiseau #}
<div id="rechercheOiseau">
	<div class="container">
		<h2 class="text-center">RECHERCHER UNE ESPÈCE D'OISEAU</h2>
		<hr>
	
		{% if observations is defined %}
			<input type="hidden" id="tabObservations" value="{{ observations }}"></input>
		{% endif %}
		
		{# Formulaire de recherche #}
		<form method="post">
	    	{{ form_errors(form) }}

			<div class="row" id="rowRecherche">
				<div class="col-md-10">
					{{ form_row(form.nomFr) }}
					<div id="match"></div>
				</div>
				<div class="col-md-2">
	        		<input type="submit" value="Voir sur la carte" class="btn btn-success btn-lg" id="btnRecherche" />
		    	</div>
		    </div>
	        {{ form_rest(form) }}
    	</form>
    	
	  	{% if erreur is defined %}
	   		{% if erreur == true %}
	    		<div class="alert alert-danger">
	    			<p class="text-center">Aucun oiseau n'a été trouvé !</p>
	    		</div>
	   		{% endif %}
		{% endif %}

		{# Intégration googlemap ici #}
		<div class="row">
			<div id="map" class="col-xs-12 mapRecherche"></div>					
		</div>
	</div>
</div>

{% javascripts '@PortailWebBundle/Resources/public/js/autocomplete.js' %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	<script>
		var ROOT_URL = "{{ url('portail_web_ajax_autocomplete_recherche')}}";
	</script>
{% endjavascripts %}

{% javascripts '@PortailWebBundle/Resources/public/js/rechercheOiseau.js' %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock %}