{# Hérite de la vue parente situé app/Resources/views/base.html.twig #}
{% extends "::base.html.twig" %}

{% block body %}
{# Partie Saisie Oiseau #}
<div id="saisieOiseau" class="part">
	<div class="container">
		<h2 class="text-center">SAISIR UNE OBSERVATION D'OISEAU</h2>
		<p class="text-center">Où avez-vous vu ce {{oiseauChoisi.nomFr}} - {{oiseauChoisi.nomLa}} ?</p>
		<hr>	

		{% for message in app.session.flashbag.get('good') %}
			<div class="alert alert-success">
		    	<p>{{ message }}</p>
		    </div>
		{% endfor %}
		{# Formulaire de saisie d'observation #}
		{# Le formulaire sera soumis au contrôleur ObservationController #}
		<form method="post" enctype="multipart/form-data">
	    	{{ form_errors(form) }}

			<div class="row">
				<div class="col-sm-12 col-md-2">
					{{ form_row(form.dateObservation) }}
				</div>

				<div class="col-sm-12 col-md-2">
					{{ form_label(form.heureObservation, 'Heure') }}
			        {{ form_widget(form.heureObservation) }}
			        {{ form_errors(form.heureObservation) }}
		    	</div>

				<div class="col-sm-12 col-md-3">
					{{ form_label(form.latitude, 'Latitude') }}
			        {{ form_widget(form.latitude) }}
			        {{ form_errors(form.latitude) }}
	    		</div>

				<div class="col-sm-12 col-md-3">
					{{ form_label(form.longitude, 'Longitude') }}
			        {{ form_widget(form.longitude) }}
			        {{ form_errors(form.longitude) }}
				</div>

				<div class="col-sm-12 col-md-2">
					{{ form_label(form.nbIndividus, "Nombre d'individus") }}
			        {{ form_widget(form.nbIndividus) }}
			        {{ form_errors(form.nbIndividus) }}
	    		</div>
			</div>

			{# Intégration googlemap ici #}
			<div class="row">
				<div id="map" class="col-xs-12 mapObservation"></div>					
			</div>
			
			{# Barre de recherche d'oiseau ici #}

			{# Photo #}
			<div class="row" id="rowPhoto">
				<div class="col-md-offset-5 col-md-3 input-file-container">
					{{ form_label(form.photo, "Photo (facultatif - png/jpg/jpeg) Taille max : 1024ko") }}
					{{ form_widget(form.photo) }}
			        {{ form_errors(form.photo) }}
		          	<label for="my-file" class="input-file-trigger" tabindex="0">
		          		<i class="fa fa-picture-o fa-5x" aria-hidden="true"></i>
		          	</label>
		          	<p class="file-return"></p>
	    		</div>	
			</div>

			<div class="row">
				<div class="col-xs-12">
					{{ form_label(form.commentaire, "Commentaire") }}
			        {{ form_widget(form.commentaire) }}
			        {{ form_errors(form.commentaire) }}
		    	</div>		
			</div>

	        {{ form_rest(form) }}
			<div class="row text-center">
				<div class="col-xs-12">
	        		<input type="submit" value="Envoyer la saisie" class="btn btn-success btn-lg" />
		    	</div>
			</div>
    	</form>
	</div>
</div>

{% javascripts '@PortailWebBundle/Resources/public/js/date.js' %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts '@PortailWebBundle/Resources/public/js/saisieOiseau.js' %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}