{# Hérite de la vue parente situé app/Resources/views/base.html.twig #}
{% extends "::base.html.twig" %}

{% block body %}

<div style="background-image: url({{ asset('images/banniere-provisoire.jpg') }});" class="banniereOiseau">
</div>

{# Partie Saisie Oiseau #}
<div id="saisieOiseau" class="part">
	<div class="container">
		<h2 class="text-center">SAISIR UNE OBSERVATION D'OISEAU</h2>
		<hr>	

		{% for message in app.session.flashbag.get('good') %}
			<div class="alert alert-success">
		    	<p>{{ message }}</p>
		    </div>
		{% endfor %}
		
		{# Le formulaire sera soumis au contrôleur saisieOiseauAction #}
		<form method="post">
	    	{{ form_errors(form) }}

			<div class="row" id="rowRecherche">
				<div class="col-xs-12">
					{{ form_row(form.nomFr) }}
					<div id="match"></div>
					<div class="text-center">
						<input type="submit" value="Choisir cet oiseau" class="btn btn-success btn-lg" id="btnRecherche">
					</div>
				</div>
			</div>
	        {{ form_rest(form) }}
    	</form>
	</div>
</div>

{% block javascripts %}
	{% javascripts '@PortailWebBundle/Resources/public/js/autocomplete.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>

		<script>
			var ROOT_URL = "{{ url('portail_web_ajax_autocomplete_recherche')}}";
		</script>
	{% endjavascripts %}
{% endblock %}

{% endblock %}