{# Image background perroquet #}
<div id="partPerroquet" style="background-image: url({{ asset('images/background.jpg') }});" class="backgroundImage">
    {# Encart connexion/créer un compte #}
    <div class="text-center" id="boiteConnexion">
        <h1 id="h1Connexion">
            Bienvenue
        </h1> <br>
        {% for message in app.session.flashbag.get('info') %}
            <div class="alert alert-danger">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
        {#Vérification si session membre ouverte ou non #}
        {# Si session ouverte : affiche connecté en tant que .....Nom Prénom.... #}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <h3>            
                Connecté sous le pseudo <span style="color: #81BD5B;">{{ app.user.username }}</span> <br><br>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('easyadmin') }}">Interface d'administration</a>
                {% endif %}
                <a href="{{ path('fos_user_security_logout') }}" id="btnDeconnexion">Déconnexion</a>
            </h3>
        {% else %}
            {#Si session non ouverte ,  affiche le panneau création compte ou connexion#}

            <p class="paragraphes" style="margin-bottom: 50px;">
                Avant de saisir vos observations d'oiseaux vous devez vous identifier. Si vous n'avez pas de compte, cliquez
                sur créer un compte.
            </p>

            <div class="row">
                <a href="{{ path('portail_user_connexion') }}"
                        class="col-sm-offset-1 col-sm-4 btn btn-secondary btn-lg linkCo"
                        style="color: #485156; margin-right: 15px; background-color: white">CONNEXION
                </a>
                <a href="{{ path('portail_user_inscription') }}" class="col-sm-6 btn btn-success btn-lg linkCo">
                    CRÉER UN COMPTE
                </a>
            </div>
        {% endif %}
    </div>
</div>